.formBodyLogin {
  align-items: center;
  display: flex;
  justify-content: center;
  align-self: center;
}

.form {
  background-color: #f0f1f5;
  border-radius: 20px;
  box-sizing: border-box;
  padding: 20px 0px 20px 0px;
}

.title {
  color: gray;
  font-size: 36px;
  font-weight: 600;
  margin-top: 30px;
}

.subtitle {
  color: gray;
  font-size: 16px;
  font-weight: 600;
  margin-top: 10px;
}

.input-container {
  height: 50px;
  position: relative;
  width: 100%;
}

.ic1 {
  margin-top: 40px;
}

.ic2 {
  margin-top: 30px;
}

.input {
  background-color: white;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: #65657b;
  font-size: 18px;
  height: 100%;
  outline: 0;
  padding: 4px 20px 0;
  width: 100%;
}

.cut {
  background-color: #f0f1f5;
  border-radius: 10px;
  height: 20px;
  left: 20px;
  position: absolute;
  top: -20px;
  transform: translateY(0);
  transition: transform 200ms;
  width: 76px;
}

.cut-short {
  width: 50px;
}

.input:focus ~ .cut,
.input:not(:placeholder-shown) ~ .cut {
  transform: translateY(8px);
}

.placeholder {
  color: #65657b;
  left: 20px;
  line-height: 14px;
  pointer-events: none;
  position: absolute;
  transform-origin: 0 50%;
  transition: transform 200ms, color 200ms;
  top: 20px;
}

.input:focus ~ .placeholder,
.input:not(:placeholder-shown) ~ .placeholder {
  transform: translateY(-30px) translateX(10px) scale(0.75);
}

.input:not(:placeholder-shown) ~ .placeholder {
  color: #808097;
}

.input:focus ~ .placeholder {
  color: gray;
}

.submit {
  background-color: #08d;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: #eee;
  cursor: pointer;
  font-size: 18px;
  height: 50px;
  margin-top: 38px;

  text-align: center;
  width: 100%;
}

.submit:active {
  background-color: #06b;
}

.inputBoxBlock {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.inputBoxBlock div {
  margin-left: 10px;
  margin-right: 10px;
}
.errors {
  margin-left: 60px;
  color: red;
  font-size: 12px;
}
.inputBoxBlockLogin{
    padding-left: 10px;
    padding-right: 10px;
}
@media screen and (max-width: 576px) {
  .formBodyLogin {
    margin-left: 10px;
    margin-right: 10px;
  }
  .inputBoxBlock {
    display: block;
    padding: 0px 10px 0px 10px;
  }
  .inputBoxBlock div {
    margin-left: 0px;
    margin-right: 0px;
  }
  .errors {
    color: red;
    font-size: 12px;
  }
}
